
.Logo {
    width: 15rem;
    font-family: 'Mulish', sans-serif;;
    font-size: 3rem;
    font-weight: 100;
    text-decoration: none;
    color: rgb(45, 45, 45) ;
}
.logo{
    display: flex;
    align-items: center;
    width: 10vw;
    margin-right: 10vw;
}


.products{
    text-decoration: none;
}


.home,
.products {

    letter-spacing: 0.3px;
    line-height: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(72, 72, 72);
    
}

.navbar-item {
    width: 50%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.products:hover{ 
    border-bottom: 0.2px solid black; 
}

.navbar {
    display: flex;
    height: 8vh;
    align-items: center;
    width: auto;
    justify-content: space-around;
    text-align: left;
    background-color: white;

    margin-bottom: 2rem;
    padding-left: 10vw;
    padding-right: 10vw;
}
Link{
    text-decoration: none;
    color: white;
}
.io{
    color: grey;
    font-size: 2.5rem;
}
